<div class="project-area col-11">
  <!-- COLLABRADORS -->
  <div class="box project-card col-12 col-md-5 project-bg bg-collabradors">
    <div class="project-card-text">
      <h5>Collabradors</h5>
      <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally</p>
      <div class="project-languages-row">
        <%= image_tag("language-vectors/React-grey.png", :alt => "React", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/Ruby-on-Rails-grey.png", :alt => "Ruby on Rails", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/JavaScript-grey.png", :alt => "Ruby on Rails", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/HTML-grey.png", :alt => "HTML", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/CSS-grey.png", :alt => "CSS", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/Sass-grey.png", :alt => "Sass", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/PostgreSQL-grey.png", :alt => "PostgreSQL", style: 'height: 30px; width:auto') %>
      </div>
      <div class="project-chip"><i class="fa-solid fa-people-group"></i>Team Project</div>
    </div>
    <div class="device-image-container">
      <div class="desktop-image">
        <%= image_tag("collabradors/collabradors-home.png", :alt => "Collabradors Homepage", style: 'height: auto; width:100%') %>
      </div>
    </div>
  </div>

  <!-- WHAT MATTERS -->
  <div class="box project-card col-12 col-md-5 project-bg bg-what-matters">
    <div class="project-card-text">
      <h5>What Matters</h5>
      <p class="sub-text">A web app that helps people identify, create and maintain habits that increase fulfilment</p>
      <div class="project-languages-row">
        <%= image_tag("language-vectors/React-grey.png", :alt => "React", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/Ruby-on-Rails-grey.png", :alt => "Ruby on Rails", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/JavaScript-grey.png", :alt => "Ruby on Rails", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/HTML-grey.png", :alt => "HTML", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/CSS-grey.png", :alt => "CSS", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/Sass-grey.png", :alt => "Sass", style: 'height: 30px; width:auto') %>
        <%= image_tag("language-vectors/PostgreSQL-grey.png", :alt => "PostgreSQL", style: 'height: 30px; width:auto') %>
      </div>
      <div class="project-chip"><i class="fa-solid fa-people-group"></i>Team Project</div>
    </div>
    <div class="device-image-container">
      <div class="phone-image">
        <%= image_tag("what-matters/what-matters-habit-tracker.png", :alt => "What Matters Habit Tracker", style: 'height: auto; width:100%') %>
      </div>
    </div>
  </div>

<!-- DONATION APP - REACT -->

<!-- CHARITYBI -->
<div class="box project-card col-12 col-md-5 project-bg project-bg">
  <div class="project-card-text">
    <h5>CharityBI (Coming Soon)</h5>
    <p class="sub-text">Marketing site for a data integration platform.</p>
    <div class="project-languages-row">
      <%= image_tag("language-vectors/JavaScript-grey.png", :alt => "Ruby on Rails", style: 'height: 30px; width:auto') %>
      <%= image_tag("language-vectors/React-grey.png", :alt => "React", style: 'height: 30px; width:auto') %>
      <%= image_tag("language-vectors/CSS-grey.png", :alt => "CSS", style: 'height: 30px; width:auto') %>
    </div>
    <div class="project-chip"><i class="fa-solid fa-person"></i>Solo Project</div>
  </div>
  <div class="device-image-container">
    <div class="phone-image">
      <%= image_tag("test-phone.png", :alt => "Sean Donnelly", style: 'height: auto; width:100%') %>
    </div>
  </div>
</div>

<%# NON TECHNICAL PROJECTS %>

</div>
