<div class="col-11 mx-auto contents">
    <%= render partial: 'components/project_breadcrumbs' %>
    <h3>Collabradors</h3>
  </div>

  <div class="top">
      <%# OVERVIEW %>
      <div class="box project-card-text overview left">
        <h4>Connecting pet owners for free, reciprocal pet care support locally</h4>
        <p>In just a five day sprint, my team of four designed and built a fully-functional marketplace called Collabradors. Collabradors helps pet owners meet each other locally with the aim of arranging mutual pet care. It's an alternative to paid services and to lumbering friends/family with your furry friends: cost-free and guilt-free! </p>
        <p>The platform was built with Ruby on Rails. Users can create a profile for them and their pet/s, search for Collabradors in their area, request help and offer help. Users can also join community chat rooms with real-time chat.</p>
        <div class="button-row">
          <%= link_to "https://www.collabradors.co.uk", target: :_blank do %>
            <div class="button-primary">
              <p>Visit Website</p>
              <i class="fa-solid fa-up-right-from-square"></i>
            </div>
          <% end %>
          <%= link_to "https://github.com/seandonnelly92/collabrador", target: :_blank do %>
            <div class="button-secondary">
              <p>See on Github</p>
              <i class="fa-brands fa-github"></i>
            </div>
          <% end %>
          <p class="caption">Please note: Collabradors is not yet mobile-optimized and therefore best viewed on desktop.</p>
        </div>
      </div>

      <%# CAROUSEL %>
      <div id="project-carousel" class="box right project-carousel carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("collabradors/collabradors-homepage.png", alt: "Collabradors homepage", class: "carousel-image") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("collabradors/collabradors-profile1.png", alt: "Collabradors pet and owner profile page 1 of 2", class: "carousel-image") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("collabradors/collabradors-profile2.png", alt: "Collabradors pet and owner profile page 2 of 2", class: "carousel-image") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("collabradors/collabradors-add-a-pet.png", alt: "Collabradors add a pet form", class: "carousel-image") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("collabradors/collabradors-figma.png", alt: "Collabradors figma design screenshot", class: "carousel-image") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("collabradors/collabradors-db-schema.png", alt: "Collabradors database schema screenshot", class: "carousel-image") %>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
        </div>
      </div>

    <div class="bottom">
      <%# KEY CONTRIBUTIONS %>
      <div class="box project-card-text key-contributions left">
        <h4>Key Contributions</h4>

        <div class="contribution">
          <i class="fa-solid fa-lightbulb"></i>
          <p>Conceived and pitched the Collabradors idea to the sprint team, which subsequently selected it for development</p>
        </div>

        <div class="contribution">
          <i class="fa-brands fa-figma"></i>
          <p>Designed brand world and logo and led rapid prototyping in Figma</p>
        </div>

        <div class="contribution">
          <i class="fa-solid fa-list-check"></i>
          <p>Led Project Management (Agile methodologies)</p>
        </div>

        <div class="contribution">
          <i class="fa-solid fa-paw"></i>
          <p>Implemented CRUD functionality for pet profiles in Ruby</p>
        </div>

        <div class="contribution">
          <i class="fa-solid fa-palette"></i>
          <p>Designed and built the human + pet profile page which houses the pet's attributes, bio, location, reviews and requests for help</p>
        </div>

        <div class="contribution">
          <i class="fa-solid fa-comments"></i>
          <p>Implemented real-time chat functionality using Action Cable in the Ruby on Rails project to facilitate instant communication among users within towns. Leveraged Action Cable to enable WebSocket connections, allowing users to exchange messages in real-time without the need for page refreshes. This feature enhanced the user experience by fostering immediate and seamless communication within communities.</p>
        </div>

      </div>

      <%# TOOLS & TECHNOLOGIES %>
      <div class="box project-card-text tools right">
        <h4>Tools & Technologies</h4>
        <div class="project-languages-row">
          <%= image_tag("language-vectors/Ruby-grey.png", :alt => "Ruby", class:"tools-icons") %>
          <%= image_tag("language-vectors/Ruby-on-Rails-grey.png", :alt => "Ruby on Rails", class:"tools-icons") %>
          <%= image_tag("language-vectors/HTML-grey.png", :alt => "HTML", class:"tools-icons") %>
          <%= image_tag("language-vectors/CSS-grey.png", :alt => "CSS", class:"tools-icons") %>
          <%= image_tag("language-vectors/Sass-grey.png", :alt => "Sass", class:"tools-icons") %>
          <%= image_tag("language-vectors/JavaScript-grey.png", :alt => "JavaScript", class:"tools-icons") %>
          <%= image_tag("language-vectors/Stimulus-grey.png", :alt => "Stimulus", class:"tools-icons") %>
          <%= image_tag("language-vectors/PostgreSQL-grey.png", :alt => "PostgreSQL", class:"tools-icons") %>
          <%= image_tag("language-vectors/figma-grey.png", :alt => "Figma", class:"tools-icons") %>
        </div>
        <div class="coloured-bg"></div>
      </div>
    </div>
  </div>
</div>
